<h2>
   <a href="http://ut.suagm.edu">Universidad Del Turabo</a>
</h2>
<br/>
<h3>
About Turabo
</h3>
<p >
 The University of Turabo (UT), part of the Ana G. Mendez University System (SUAGM), is a professionally oriented institution that offers academic studies from technical certificates to doctorates degrees. Its academic offerings are organized in seven departments: Engineering, Science and Technology, Health Sciences, Education, Business and Administration, Social Sciences, and the International School of Design.
</p>
<p>
  Universidad del Turabo is accredited for engineering which is one of the reasons
  I chose to study here. The university is accredited by the Accreditation Board for Engineering and Technology
 (Engineering Accreditation Commission (EAC)) and these are the accredited programs in Engineering:
</p>
<ul>

</ul>
 <li>Bachelors in Mechanical Engineering (since 2003)</li>
 <li>Bachelors in Electrical Engineering (since 2007)</li>
 <li>Bachelors in Industrial Engineering (since 2007)</li>
 <li><b>Bachelors in Computer Engineering (since 2009)</b></li>
 <li>Bachelors in Civil Engineering (since 2015)</li>

<br />
<h3>
  My Degree
</h3>
<p>
  At Universidad del Turabo I pursued a bachelor’s degree in Computer Engineering.
  I specialized myself in software design with some electronic design, mainly digital.
  I took courses in innovation and software engineering apart from the required courses.
  In my time here, I participated in various extracurricular activities such as
  being part of some student Engineering organizations. Some of these include:
</p>
<ul>
  <li>
    IEE: Treasurer
  </li>
  <li>
    ACM: Vice-President
  </li>
</ul>

<p>
  While at Universidad Del Turabo I also received a scholarship for the Honor association.
  This association apart from providing me with the resources to pay for classes and books
  also provided me with many workshops, opportunities to visit museums, and be able to participate
  in activities to help the community.
</p>
<p>
While studying here and shortly after graduating I was able to participate in various
<a href="/Experience">Internships</a> which helped me gain the experience I have today.
</p>
