<h2>
  Universidad Del Turabo <a href="http://ut.suagm.edu">link</a>
</h2>
<br/>
<h3>
About Turabo
</h3>
<p >
 The University of Turabo (UT), part of the Ana G. Mendez University System (SUAGM), is a professionally oriented institution that offers academic studies from technical certificates to doctorates degrees. Its academic offerings are organized in seven departments: Engineering, Science and Technology, Health Sciences, Education, Business and Administration, Social Sciences, and the International School of Design.
</p>
<br />
<h3>
  My Degree
</h3>
<p>
  At universidad del Turabo I pursued a bachelors degree in Computer Engineering.
  In my time here I participated in various extra curricular activities such as being part of some student Engineering organizations.
  Some of these include:

</p>
<ul>
  <li>
    IEE which I was the treasurer
  </li>
  <li>
    ACM: Vice-President
  </li>
</ul>
