<div class="row">
  <div class="col-md-2">
    <h2 id="job">
      Jobs
    </h2>
  </div>
  <div class="col-md-2">
    <button class="btn btn-primary" download="resume" href="/assets/Documents/Resume 08-13-2018.docx">Download Full Resume</button>
  </div>
</div>

<br />

<div class="row">
  <div class="col-md">
    <h4>
      DXC Technology
    </h4>
    May/2017 - Present
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <img src="/assets/img/DXC.png" class="img-fluid" />
  </div>
  <div class="col-md-10">
    My job is to work on custom applications, primarily asp .Net. I am tasked with developing applications
    to fit the client needs, from web applications to mobile and desktop apps. Implementing databases such
    as MySQL and oracle. I have also worked projects using Team foundation server and Git
    with integration with Jira.
  </div>
</div>

<br />

<div class="row">
  <div class="col-md">
    <h4>
      Infotech Aerospace
    </h4>
    June/2016 - July/2016
  </div>
</div>
<br />
<div class="row">
  <div class="col-md-2">
    <img src="/assets/img/infotech.png" class="img-fluid" />
  </div>
  <div class="col-md-10">
    My task was to test different systems and hardware to find flaws and fix them.
     If a process needed to be improved, we would work on that as well. We
     developed new processes or software to optimize work as well.
  </div>
</div>

<br />

<div class="row">
  <div class="col-md">
    <h2 id="intern">
      Internships
    </h2>
  </div>
</div>

<br/>

<div class="row">
  <div class="col-md">
    <h4>
      NASA Glenn Research Center (GRC)
    </h4>
    January/2017 - April/2017
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <img src="/assets/img/Nasa-Logo.png" class="img-fluid" />
  </div>
  <div class="col-md-10">
    <p>
      The main task for this internship was to develop a voting web application with angular JS for
      human resources to nominate employees for awards and then rank and vote for the to win the award.
      We designed a Mongo data base of users and awards. Another project we worked on in the same stack
      was a travel tracking system for NASA which would log access request to accounts and compare that
      to travel requests.
    </p>
  </div>
</div>
  <br />

  <div class="row">
    <div class="col-md">
      <h4>
        NASA Glenn Research Center (GRC)
      </h4>
      August/2016 - December/2016
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <img src="/assets/img/Nasa-Logo.png" class="img-fluid" />
    </div>
    <div class="col-md-10">
      <p>
        My task in this internship was to assist the software assurance team to perform software audits,
        revise software assurance practices and develop software to aid software assurance engineer. In
        the internship assisted the development for a plugin for the JIRA platform to track the software
        assurance project.
      </p>
    </div>
  </div>

  <br />

  <div class="row">
    <div class="col-md">
      <h4>
        University of New Hampshire (UNH)
      </h4>
      June/2015 - July/2015
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <img src="/assets/img/UNH.png" class="img-fluid imagePadding" />
    </div>
    <div class="col-md-10">
      <p>
        Our tasks as interns was to create scripts to analyze various types of data given to us. We would
        develop scripts (mostly in python) to analyze, plot and manipulate the data in various formats such
        as CDF, DAT and other formats. At the end of the internship I presented a poster with the results
        of the analysis.
      </p>
    </div>
  </div>
