<div class="row">
  <div class="col-md">
    <h2 id="job">
      Job Experience
    </h2>
  </div>
</div>
<div class="row">
  <div class="col-md">
    <h4>
      Infotech Aerospace(June/2016-July/2016)
    </h4>
  </div>
</div>
<br />
<div class="row">
  <div class="col-md-2">
    <img src="/assets/img/infotech.png" class="img-fluid" />
  </div>
  <div class="col-md-10">
    My task was to test different systems and hardware to find flaws and fix them.
     If a process needed to be improved, we would work on that as well. We
     developed new processes or software to optimize work as well.
  </div>
</div>
<br />
<div class="row">
  <div class="col-md">
    <h4>
      DXC Technology(May/2017-Present)
    </h4>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <img src="/assets/img/DXC.png" class="img-fluid" />
  </div>
  <div class="col-md-10">
    My job is to work on custom applications, primarily asp .Net.
    I am tasked with developing applications to fit the client needs,
    from web applications to mobile and desktop apps. Implementing
    databases such as MySQL and oracle.
  </div>
</div>
<br />
<div class="row">
  <div class="col-md">
    <h2 id="intern">
      Internships
    </h2>
  </div>
</div>
<br />
<div class="row">
  <div class="col-md">
    <h4>
      NASA Glenn Research Center (GRC)
    </h4>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <img src="/assets/img/Nasa-Logo.png" class="img-fluid" />
  </div>
  <div class="col-md-10">
    <p>
      In my time interning at GRC I participated in two sixteen week internships.
    </p>
  </div>

</div>
