<h2>Skills</h2>
<p>
  Durring my time as a Computer Engineer I have aquired skills in:
</p>
<h4>Software & Frameworks:</h4>
<div class="row">
  <div class="col-sm-2 skills">
    <img src="\assets\img\DotNet.png" class="img-fluid" />
    <h4>Microsoft .Net</h4>
  </div>
  <div class="col-sm-2 skills">
    <img src="\assets\img\oracle.png" class="img-fluid" />
    <h4>Oracle</h4>
  </div>
  <div class="col-sm-2 skills">
    <img src="\assets\img\mean.png" class="img-fluid" />
    <h4>MEAN Stack</h4>
  </div>
  <div class="col-sm-2 skills">
    <img src="\assets\img\MySQL.png" class="img-fluid" />
    <h4>MySQL</h4>
  </div>
  <div class="col-sm-2 skills">
    <img src="\assets\img\telerik.png" class="img-fluid" />
    <h4>Telerik</h4>
  </div>
  <div class="col-sm-2 skills">
    <img src="\assets\img\xamarin.png" class="img-fluid" />
    <h4>Xamarin</h4>
  </div>

</div>

<br />

<h4>Programing Languages: </h4>

<div class="row">
  <div class="col-sm-2 skills">
    <img src="/assets/img/html.png" class="img-fluid" />
    <h4>HTML</h4>
  </div>
  <div class="col-sm-2 skills">
    <img src="\assets\img\JS.png" class="img-fluid" />
    <h4>JavaScript</h4>
  </div>
  <div class="col-sm-2 skills">
    <img src="\assets\img\cSharp.png" class="img-fluid" />
    <h4>C#</h4>
  </div>
  <div class="col-sm-2 skills">
    <img src="\assets\img\C++.png" class="img-fluid" />
    <h4>C++</h4>
  </div>
  <div class="col-sm-2 skills">
    <img src="\assets\img\python.png" class="img-fluid" />
    <h4>Python</h4>
  </div>
  <div class="col-sm-2 skills">
    <img src="\assets\img\java.png" class="img-fluid" />
    <h4>Java</h4>
  </div>
  <div class="col-sm-2 skills">
    <img src="/assets/img/SQL.png" class="img-fluid" />
    <h4>SQL</h4>
  </div>
</div>
