
  <div class="row">
    <div  class="col-md">
      <h2>
        Computer Engineer.
      </h2>
    </div>
  </div>
  <div class="row" >
    <div class="col-md-3">
       <img src="\assets\img\Me.jpg" class="rounded-circle img-fluid" />
    </div>
    <div class="col-md-9">
      <p>
        Passionate developer looking to work with modern frameworks and tecnologies to be able
        to expand my knowlege and gain experience. Fully bilingual (Spanish-English). Fast learner and excellent problem solver.
        Experience in Software Engineering with projects that include application development
        and full stack web development. I've worked with various databases such as Oracle, MySQL and MongoDb.
        I have experience in working with different operating system and platforms namely Windows, Mac and Linux.
      </p>
    </div>
</div>
